<div class=base-text>
  
<ol>
  <li>
      Formula editor 
  </li>
  <li>
     Financial data scraper 
  </li>
  <li>
     Text parsing system 
  </li>
  <li>
     Simple desicion making system
  </li>
</ol>

</div>

