<div class=base-text>
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>"Fitness center - small" üçün bütün parametrləri daxil olunub. Digər sahələr üzrə məlumatları daxil edənədək, onunla işləmək məsləhətdir. </strong>
  </div>

  </h3>
    Faktorlar    
  </h3>
  <p>
    İl üçün təxmin olunan inflyasiya, vergi, bank faizi dərəcələri.
    Eləcə də, optimist və pessimist təxmin üçün xüsusi faiz dərəcəsi.
  </p>
  <p> 
    <strong>Məs</strong>: standart təxminlə xalis gəlir/ziyan (I=> I &isin; R) 1000 vahid, optimist tƏxminin faiz dərəcəsi 20 olsun.
    belədə, 
      <code>
        P<sub>opt</sub> = I + |I|*R<sub>opt</sub>*0.01 = 1000 + |1000|*20*0.01 = 1200
        <br>
        P<sub>pes</sub> = I - |I|*R<sub>pes</sub>*0.01 = 1000 - |1000|*20*0.01 = 800
      </code>
      </p>
      <p>
      <strong>Ziyanın hesablanması (I = -1000, R=20)</strong>
      <code>
        P<sub>opt</sub> = I + |I|*R<sub>opt</sub>*0.01 = -1000 + |-1000|*20*0.01 = -800
        <br>
        P<sub>pes</sub> = I - |I|*R<sub>pes</sub>*0.01 = -1000 - |-1000|*20*0.01 = -1200
      </code>      
  </p>

  <hr></h3>
    Yerlər    
  </h3>
  <p>
    Müəyyən ərazi vahidinin adı, və bir vahid sahə üçün kirayə dəyəri
  </p>

 <hr></h3>
    Strategiyalar    
  </h3>
  <p>
    Seçilən biznes predmetinə görə Reklam və PR strategiyaları və qiymətləri
  </p>

 <hr>
 </h3>
    Xidmətlər    
  </h3>
  <p>
    Seçilən biznes predmetinə görə göstərilən xidmətlərin siyahısı və aylıq artım sabiti (&alpha;)

    Biznesin, proqnozlaşdırılan inkişaf planına görə (<em>Stable</em>, <em>Rapid</em>), 

    <ol>
      <li>
        <strong>Sürətli</strong>
        <br>
        <code>
          R<sub>&alpha;</sub> = R + &alpha;*R (&alpha; &isin; N; R- gəlir bazisi) 
        </code>
      </li>
      <li>
        <strong>Sabit</strong>
        <br>
        <code>
          R<sub>&alpha;</sub> = R 
        </code>
      </li>
    </ol>

  </p>

 <hr></h3>
    İşçilər    
  </h3>
  <p>
    Seçilən biznes predmetinə görə işçilərin vəzifələri və maaşları
  </p>
 <hr></h3>
    Otaqlar    
  </h3>
  <p>
    Seçilən biznes predmetinə görə otaqların adları və ümumi istehsal/xidmət sahəsində tutduqları yer (faizlə)
  </p>
 <hr></h3>
    Lazımlı əşyalar/istehsal vasitələri    
  </h3>
  <p>
    Seçilən biznes predmetinə müvafiq əşyaların/istehsal vasitələrinin adları və qiymətləri
  </p>
 <hr></h3>
    Biznes sahələri    
  </h3>
  <p>
  Biznes sahəsi yaratmaq. 
  </p>
 
</div>

<p></p>