<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:strategies, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:strategies, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:strategies, :edit, :id => @strategy.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :strategy, url(:strategies, :update, :id => @strategy.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'strategies/form', :locals => { :f => f } %>
  <% end %>
</div>
