<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:staffs, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:staffs, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:staffs, :edit, :id => @staff.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :staff, url(:staffs, :update, :id => @staff.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'staffs/form', :locals => { :f => f } %>
  <% end %>
</div>
